modules = ["web", "nodejs-20", "bash", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["wget"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25565
externalPort = 3000

[[ports]]
localPort = 25577
externalPort = 3001
exposeLocalhost = true

[deployment]
deploymentTarget = "vm"
run = ["bash", "run.sh"]
